.calendar{
    max-width: 500px;
    margin: 30px auto;
}

.calendar--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.calendar--table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4caf50;
    color: white;
}

.weekdays {
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    padding: 10px;
    font-weight: bold;
}

.empty-cell {
    background-color: #f5f5f5;
}

.calendarDay {
    cursor: pointer;
}

.today {
    background-color: #4caf50;
    color: white;
}

.selected {
    background-color: #2196f3;
    color: white;
}

.selected--date__info {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}
